<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
    <ion-buttons>
      <ion-button routerLink="/" routerDirection="back">
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Application Details</h2>
      <p>
          If you're stuck on what to eat tonight, try choosing from several local Baton Rouge resturants with this app.
      </p>
  <h2>About Me</h2>
  <p>
    This app was made by Cody Dunkley, a technology entrepreneur and student attending LSU!
  </p>

  <i><small>
      Chef's Hat developed by Code Codex, 2019
      Version 0.0.1 (Cake Pan)
  </small></i>


</ion-content>